{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>restaurant</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for commande in commandes %}
				{% if app.user and app.user.id == commande.user.id %}
					<tr>
						<td>{{ commande.id }}</td>
						<td>{{ commande.restaurant.nom }}</td>
						<td>
							<a class="btn btn-info" href="{{ path('commande_show', {'id': commande.id}) }}">show</a>
						</td>
					</tr>
                {% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
				{% endif %}
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
